.heroCar {
  height: 407px;
  background: #f1f3ff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.heroCar .heroTitle {
  margin-top: 80px;
  margin-left: 136px;
  width: 568px;
  color: #000;
  font-family: Arial;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}

.heroCar .heroText {
  width: 468px;
  margin-top: 16px;
  margin-left: 136px;
  color: #000;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.heroCar Button {
  /* padding: 8px 12px; */
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: var(--Primary-LimeGreen-04, #5cb85f);
  border-color: var(--Primary-LimeGreen-04, #5cb85f);
  /* width: 140px; */
  height: 36px;
  margin-top: 16px;
  margin-left: 136px;

  color: var(--Neutral-10, #fff);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.heroCar img {
  width: 804px;
  height: 407px;

  /* align-items: end; */
  /* margin-left: 110px; */
}

@media only screen and (max-width: 360px) {
  .heroCar {
    width: 360px;
    align-items: flex-start;
    gap: 16px;
    height: fit-content;
  }

  .heroCar .heroTitle {
    align-self: stretch;
    width: 328px;
    margin-top: 32px;
    margin-left: 16px;
  }

  .heroCar .heroText {
    width: 328px;
    /* margin-top: 32px; */
    margin-left: 16px;
  }

  .heroCar .heroButton {
    margin-left: 16px;
  }

  .heroCar Button {
    margin-left: 16px;
  }
  .heroCar .heroImage {
    width: 360;
    height: 200px;
    text-align: right;
    /* align-items: end; */
    /* margin-left: 110px; */
  }

  .heroCar img {
    width: 344.216px;
    height: 199px;
    margin-left: 16px;
    /* align-items: end; */
    /* margin-left: 110px; */
  }
}
