/* css global */

.text {
  color: #000;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.textSubtitle {
  color: #000;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
}

/* ----------------------------------------------------------------------------------------------- */

.headerBaru {
  height: 97px;
}

.headerBaru .blue {
  background: #f1f3ff;
}

.headerBaru .tinggi {
  height: 97px;
}

.headerBaru .marginKanan {
  margin-right: 249px;
  /* width: 327px; */
}

.headerBaru .logo {
  margin-left: 136px;
  width: 100px;
  height: 34px;
  background: var(--Primary-DarkBlue-04, #0d28a6);
  /* width: 327px; */
}

.headerBaru .marginText {
  margin-right: 30px;

  /* width: 327px; */
}

.canvasUkuran {
  display: flex;
  justify-content: flex-end;
  width: 100px;
}

@media only screen and (max-width: 360px) {
  .headerBaru .logo {
    margin-left: 9px;
    width: 100px;
    height: 34px;
    background: var(--Primary-DarkBlue-04, #0d28a6);
    /* width: 327px; */
  }

  .offcanvas-end show {
    width: 180px !important;
  }

  .offcanvas {
    --bs-offcanvas-width: 180px;
  }

  .navbar-nav {
    margin-bottom: 16px;
    color: #000;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
}

.header {
  height: 97px;
  display: flex;
  background: #f1f3ff;
}

.header .logo {
  width: 100px;
  height: 34px;
  background: var(--Primary-DarkBlue-04, #0d28a6);
  margin-top: 25px;
  margin-left: 136px;
  margin-right: 628px;
}

.header .textHeader {
  display: inline-flex;
  margin-top: 25px;
  gap: 32px;
}

.heroCar {
  height: 407px;
  background: #f1f3ff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.heroCar .heroTitle {
  margin-top: 80px;
  margin-left: 136px;
  width: 568px;
  color: #000;
  font-family: Arial;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}

.heroCar .heroText {
  width: 468px;
  margin-top: 16px;
  margin-left: 136px;
  color: #000;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.heroCar Button {
  /* padding: 8px 12px; */
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: var(--Primary-LimeGreen-04, #5cb85f);
  border-color: var(--Primary-LimeGreen-04, #5cb85f);
  /* width: 140px; */
  height: 36px;
  margin-top: 16px;
  margin-left: 136px;

  color: var(--Neutral-10, #fff);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.heroCar .heroButton {
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: var(--Primary-LimeGreen-04, #5cb85f);
  width: 140px;
  height: 36px;
  margin-top: 16px;
  margin-left: 136px;

  color: var(--Neutral-10, #fff);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.heroCar img {
  width: 804px;
  height: 407px;

  /* align-items: end; */
  /* margin-left: 110px; */
}

@media only screen and (max-width: 360px) {
  .heroCar {
    width: 360px;
    align-items: flex-start;
    gap: 16px;
    height: fit-content;
  }

  .heroCar .heroTitle {
    align-self: stretch;
    width: 328px;
    margin-top: 32px;
    margin-left: 16px;
  }

  .heroCar .heroText {
    width: 328px;
    /* margin-top: 32px; */
    margin-left: 16px;
  }

  .heroCar .heroButton {
    margin-left: 16px;
  }

  .heroCar Button {
    margin-left: 16px;
  }
  .heroCar .heroImage {
    width: 360;
    height: 200px;
    text-align: right;
    /* align-items: end; */
    /* margin-left: 110px; */
  }

  .heroCar img {
    width: 344.216px;
    height: 199px;
    margin-left: 16px;
    /* align-items: end; */
    /* margin-left: 110px; */
  }
}

.ourServices {
  /* margin-top: 100px;
  margin-left: 206px;
  margin-right: 207px; */
  margin: 100px auto;

  width: 1027px;
  height: 428px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ourServices .imageServices {
  width: 459px;
  height: 428px;
}

.ourServices .titleServices {
  margin-top: 36px;
  margin-left: 86px;
  width: 468px;
}

.ourServices .textServices {
  margin-top: 24px;
  margin-left: 86px;
  margin-bottom: 18px;
  width: 468px;
  color: #000;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.ourServices .listServices {
  margin-left: 86px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 15px;
}

.listServices .check {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.listServices .textAlign {
  align-items: center;
}

@media only screen and (max-width: 360px) {
  .ourServices {
    /* margin: 60px auto; */
    margin: 60px auto;
    width: 360px;
    height: fit-content;
  }
  .ourServices .imageServices {
    /* Group 54 */
    /* align-self: center; */
    height: fit-content;
    margin-left: 54px;
    width: 252px;
    height: 228px;
  }

  .ourServices img {
    /* Group 54 */
    width: 252px;
    height: 228px;
  }

  .ourServices .titleServices {
    margin-top: 24px;
    /* margin-left: 16px; */
    width: 328px;
    margin-left: 16px;
  }

  .ourServices .textServices {
    margin-top: 24px;
    /* margin-left: 16px; */
    width: 328px;
    margin-left: 16px;
  }

  .ourServices .listServices {
    margin-left: 16px;
    margin-bottom: 15px;
    width: 255px;
  }

  .listServices .check {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  .listServices img {
    width: 24px;
    height: 24px;
    /* margin-right: 16px; */
  }

  .listServices .textAlign {
    align-items: center;
  }
}

.whyUs {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 1168px;
  height: 308px;
  margin: 100px auto;
  /* margin: auto; */
  /* background: rebeccapurple; */
}

.whyUs .judul {
  /* justify-content: flex-start; */
  color: #000;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
}

.whyUs .subJudul {
  margin-top: 16px;
  color: #000;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
.whyUs .listItem {
  margin-top: 40px;
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
}

.listItem .frame {
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 16px;
  /* background: #000; */
  width: 268px;
  height: 196px;
  border-radius: 8px;
  border: 1px solid var(--Neutral-02, #d0d0d0);
}

.frame .iconComplete {
  width: 32px;
  height: 32px;
  /* background: #000; */
}

.frame .judulFrame {
  color: #000;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

@media only screen and (max-width: 360px) {
  .whyUs {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 360px;
    height: fit-content;
    margin-top: -30px;

    /* margin: auto; */
    /* background: rebeccapurple; */
  }

  .whyUs .judul {
    margin-left: 16px;
  }

  .whyUs .subJudul {
    margin-left: 16px;
  }

  .whyUs .listItem {
    display: flex;
    width: 328px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .listItem .frame {
    margin-left: 16px;
    width: 328px;
    height: 196px;
  }
}

.testimony {
  /* width: 1921px; */
  margin-top: 100px;
  height: 438px;
  flex-shrink: 0;
  background: #f1f3ff;
  margin-bottom: 100px;
}
@media only screen and (max-width: 360px) {
  .testimony {
    margin-top: 5px;
    width: 360px;
  }
}

@media only screen and (max-width: 360px) {
  .testimony {
    width: 320px;
    margin-bottom: 60px;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  width: 1168px;
  height: 326px;
  border-radius: 13px;
  background: var(--Primary-DarkBlue-04, #0d28a6);
  margin: auto;
  /* justify-content: center; */
  align-items: center;
}

.cta .titleCta {
  margin-top: 64px;
  color: var(--Neutral-01, #fff);
  font-family: Arial;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}

.cta .textCta {
  color: var(--Neutral-01, #fff);
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  margin-top: 16px;
}

.cta .buttonCta {
  margin-top: 52px;
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: var(--Primary-LimeGreen-04, #5cb85f);
  color: var(--Neutral-10, #fff);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.cta Button {
  margin-top: 52px;
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: var(--Primary-LimeGreen-04, #5cb85f);
  border-color: var(--Primary-LimeGreen-04, #5cb85f);
  color: var(--Neutral-10, #fff);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

@media only screen and (max-width: 360px) {
  .cta {
    width: 328px;
    height: 420px;
  }

  .cta .titleCta {
    width: 212px;
    margin-top: 64px;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
  }

  .cta .textCta {
    width: 212px;
    line-height: 20px; /* 142.857% */
  }

  .cta .buttonCta {
    margin-top: 32px;
  }
}

.faq {
  width: 1168px;
  height: 344px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 100px auto;
}

.faq .titleFaq {
  color: #000;
  font-family: Arial;
  font-size: 24px;
  width: 368px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
}

.faq .textFaq {
  color: #000;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  width: 368px;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  margin-top: 16px;
}

.faq .listFaq {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-left: 132px;
}

.listFaq .holderFaq {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 668px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  background: #fff;
}

.holderFaq .textHolder {
  color: #000;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  margin-left: 24px;
}

.holderFaq .dropdownHolder {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

@media only screen and (max-width: 360px) {
  .faq {
    width: 360px;
    height: fit-content;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .faq .titleFaq {
    width: 328px;
    text-align: center;
  }

  .faq .textFaq {
    text-align: center;
    width: 328px;
  }

  .faq .listFaq {
    margin-top: 4px;
    margin-left: 0px;
  }

  .listFaq .holderFaq {
    width: 328px;
  }
}

.footer {
  /* margin-top: 150px;
  margin-left: 136px;
  margin-right: 136px; */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 100px auto;
  width: 1141px;
  /* width: initial; */
  font-size: 14px;
  line-height: 20px;
  /* margin-left: 136px; */
  gap: 16px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 268px;
  /* margin-bottom: 100px; */
}

.bold {
  font-weight: 700;
}

.social-media {
  display: flex;
  gap: 16px;
}

.navigation {
  width: 79px;
}

.kotak {
  width: 100px;
  height: 34px;
  background: #0d28a6;
}

.iconSosmed {
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 360px) {
  .footer {
    margin-top: 60px;
    width: 360px;

    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 16px;
    margin-left: 16px;
  }

  .bold {
    font-weight: 700;
    margin-left: 16px;
  }

  .social-media {
    /* margin-left: 16px; */
    display: flex;
    gap: 16px;
    width: 32px;
    height: 32px;
  }

  .navigation {
    margin-left: 16px;
    width: 79px;
  }

  @media only screen and (max-width: 360px) {
    body {
      width: 360px;
    }
  }
}
